DB_USER=postgres
DB_PASSWORD=very_strong_password
DB_NAME=spot
APP_HOST=localhost
KAFKA_CLUSTER_ID=rAnDoMiD
MY_UNIVERSITY_ORIGIN=https://my.university.example
MY_UNIVERSITY_CLIENT_ID=spot
MY_UNIVERSITY_CLIENT_SECRET=replace_me
MY_UNIVERSITY_REDIRECT_URI=https://localhost/api/auth/my-university/callback
MY_UNIVERSITY_POST_LOGIN_REDIRECT_URI=/dashboard
